// .css-adaptive{
//     // display: block;
//     width: 2920px;
//     height: 2280px;
    
// }
   // .backgraund{
    //     position: relative;
    // }
    .page-footer{ 
      height: 155px;
      width: 100%;
      background-color: lightgray;
 }
    .footer{
      max-height: 25px;
      
 }    
   