
<!-- <div class="container"> -->
<!-- <br>
<H4><mark>CAR:</mark> {{name}}
   <small> {{model}}</small></H4>
   <div class="alert alert-success">
    характеристика машини:
    <ul>
        <li>Швидкість: <strong>{{speed}}</strong>км</li>
        <li>Колір: 
            <strong>{{colors.car}}</strong></li>
        <li>Колір салону: 
            <strong>{{colors.salon}}</strong></li>
        <li>Колір колес: 
            <strong>{{colors.wheels}}</strong></li>
    </ul>
   </div> -->

<!-- <h5>редактування обекта</h5>
<button class="btn btn-danger
"(click)="showEdit()" >Редагувати</button>
<form *ngIf=isEdit>
    <div class="form-group">  -->

    <!-- <input type="text"  placeholder="назва машини " 
    class="form-control" [{ngModel}]="name" name="name"> <br> -->

    <!-- <input type="text"  placeholder="модель машини" 
    class="form-control" [{ngModel}]="model" name="model"> <br>

    <input type="text"  placeholder="швидкість" 
    class="form-control "[{ngModel}]="speed" name="speed"> <br>

    <input type="text"  placeholder="назваколір машини " 
    class="form-control"[{ngModel}]="colors" name="car"> <br>

    <input type="text"  placeholder="колір салону " 
    class="form-control" [{ngModel}]="colors" name="salon"> <br>

    <input type="text"  placeholder="колір колес " 
    class="form-control" [{ngModel}]="colors.wheels" name="wheels">  -->

    <!-- <br>
    </div> -->
<!-- </form>
<div class="alert alert-warning">
    <ul>
        <li *ngFor="let opt of options">{{opt}}
            <button class="btn btn-warning btn-sm" 
            (click)="deleteOpt(opt)">x</button>
        </li>
    </ul>
</div>

<h5>Виберіть автомобіль</h5>

<button class="btn btn-danger
"(click)="carSelect('bmw')" >BMW</button>
<button class="btn btn-success"
(click)="carSelect('audi')">Audi</button>
<button class="btn btn-info"
(click)="carSelect('mer')">Mercedes</button>
</div> -->
<!-- <div class="backgraund">
  <img src="assets/img/christopher-burns-189796-4096x2706.jpg" class=”css-adaptive alt="No Img" width="100%" height="1280px">
</div> -->

<div id="box">
    <H2>Країни Європи:</H2> <br>
    <ul>
<li id="q">
    <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0 " style="color: rgb(0, 0, 0)" >Україна</a> 

</li>
<li id="f">
    <a href="https://uk.wikipedia.org/wiki/%D0%A4%D1%80%D0%B0%D0%BD%D1%86%D1%96%D1%8F"  style="color: rgb(0, 0, 0)" >Франція</a> 
</li>
<li>
    <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0" style="color: rgb(0, 0, 0)">Іспанія</a> 
</li>
<li>
    <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0" style="color: rgb(0, 0, 0)"> Швеція</a> 
</li>
<li>
    <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0" style="color: rgb(0, 0, 0)">  Норвегія</a> 
   
</li>
<li>
    <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0" style="color: rgb(0, 0, 0)">  Німеччина</a> 
    
</li>
<li>
    <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0" style="color: rgb(0, 0, 0)">  Фінляндія</a> 
    
</li>
<li>
    Польща
</li>
<li>
    Італія
</li>
<li>
    Велика Британія
</li>
<li>
    Румунія
</li>
<li>
    Білорусь
</li>
<li>
    Казахстан
</li>
<li>
    Греція
</li>
<li>
    Болгарія
</li>
<li>
    Ісландія
</li>
<li>
    Угорщина
</li>
<li>
    Австрія
</li>
<li>
   <a href="/file" style="color: rgb(0, 0, 0)">Чехія</a> 
</li>

    </ul>
</div>
