<!-- 
<H2>Чехія</H2>
<div id="chexia">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident architecto voluptates laborum, quas nesciunt laudantium eveniet hic at distinctio mollitia porro labore minus? Maiores molestias ratione delectus, eaque architecto similique commodi culpa quae omnis eius totam quo amet est quidem officia nemo, excepturi provident pariatur suscipit id obcaecati ipsum. Animi impedit deleniti, doloribus sapiente velit repellendus incidunt voluptates molestias. Error eius doloremque cupiditate et velit veniam facere libero, nulla est deleniti. Odit nulla atque ea odio animi! Aspernatur accusamus explicabo voluptatibus maxime neque est, aliquid sit qui eos sunt quae, quia placeat quidem enim laborum atque quibusdam. Ab, cumque!
</div> -->
<div class="chexia">
    <img src=" https://upload.wikimedia.org/wikipedia/commons/c/cb/Flag_of_the_Czech_Republic.svg" width="50px">
   
<div id = 'page01'>
    <H2>Чехія</H2>
    <p>Відпочинок в Чехії: Чехія входить в десятку найбільш відвідуваних країн світу. Багато історичні об'єкти Чехії внесені до списку Всесвітньої спадщини ЮНЕСКО - Чеський Крумлов, Чеський Штернберг, Кутна Гора, Глибока над Влтавою і інші. Прага - одне з найкрасивіших міст світу, "Місто Ста Веж". Древній центр Праги добре зберігся і складає унікальний заповідний архітектурний ансамбль. Чеські курорти - Карлові Вари, Маріанські Лазні, Подебради - здавна відомі цілющими водами і грязями, сприятливим кліматом і сучасним обладнанням.
    </p>
<br>
    <br><br>
    <a onclick = "document.getElementById('page01').style.display='none'; document.getElementById('page02').style.display='block';">Вперед</a>
    </div>
    <div id = 'page02' style='display: none'>
    <h2>Історія</h2>
    <p>В часі виникнення могутньої Великоморавії територія Чехії ще не була об'єднана під владою одного володаря. Існувало тут кілька менших племінних утворень, на чолі яких стояли племінні князі. В центральній частині заселеної тоді країни проживало плем'я чехів, яким правили Пржемисловичі. Перший відомий князь династії Боривой I жив наприкінці 9 століття і ймовірно сидів у Лівому Градці. Підкорився великоморавському князю Святополку і прийняв хрещення. Між інші визначні князівські династії належали Славниковці, князі племені хорватів.

        Після смерті Святополка влада Моравії над чеськими землями скінчилася і чеські князі потрапили під вплив Східнофранкського королівства. У змаганні між різними племенами та їхніми князівськими династіями показалося найсильнішим плем'я чехів та його князі з династії Пржемисловичів. Згадки про інші чеські князівські династії з винятком Славниковців скоро щезли і далі згадується лише чеський князь Болеслав І, який з допомогою військової дружини заволодів не тільки територію Чехії, але і Моравію та значну частину Сілезії та Малопольщі. У 973 році було засноване празьке єпископство, чим було зроблено черговий крок до зміцнення чеської державності. Однак після посилення влади Польщі за влади короля Болеслава Хороброго межі Чеського князівства було стабілізовано тільки в кордонах сьогоднішньої Чехії та Моравії.
        
        В питанні наслідництва на княжий трон часто сперечалось кілька сил як наслідок права вибору чеських вождів, принципу сеніорату і пізніше примогенитури а також військової сили різних груп. Результатом були помірно часта боротьба за княжий престол в рамках самотнього пржемисловського роду. Римські імператори чи німецькі королі повторно використовували ці суперечки на свою користь і втручалися до справ Чеського князівства. Також підвищення чеських володарів на королів, або введення до прав імперських кюрфірстів було у випадку Вратислава ІІ, Владислава ІІ і Пржемисла Отакара І ведено намаганням тодішніх римських імператорів тісніше прив'язати чеські землі до Імперії. У 1198 році Чеське князівство остаточно стало спадковим Чеським королівством з видатними привілеями країни в рамках Імперії а також компетенціями правлячого володаря. До того часу чеські князі ставали лише спорадично королями, як напр. Вратислав ІІ у 1085 році і Владислав ІІ у 1158–1172 рр.</p>
    <br>
    <br><br>
    <a onclick = "document.getElementById('page02').style.display='none'; document.getElementById('page01').style.display='block';">Назад</a>&nbsp;&nbsp;<a onclick = "document.getElementById('page02').style.display='none'; document.getElementById('page03').style.display='block';">Вперед</a>
    </div>
    <div id = 'page03' style='display: none'>
        <h2>Медіа</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yC_9Lox4QXc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6H_1CW69Fzo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>
        <a  onclick = "document.getElementById('page03').style.display='none'; document.getElementById('page2').style.display='block';">Назад</a>
        </div>
    </div>
